body{

margin:0;
}

.caja1{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 20px;
    margin: 15px;
    background: #48e;//RGB, pero del 0 a 9,a a f
    align-items: center;


}

.caja2{
    border-bottom: 4px navy solid;
    box-sizing: border-box;
    padding:70px;

}

.caja3{
    width: 300px;
    height: 300px;
    margin: 40px;
    border: 4px navy solid;
    box-sizing: border-box;
    padding:70px;
    background: rgba(60, 229, 220, 1);
}
