
body{
    flex direction: column;
    background-color: default;
}
input{
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid green;
    border-radius: 4px;
    margin: 5px ;
    background-color: gainsboro;
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: blue;
    background-color: lightblue;
    padding: 10px;
    border: 2px solid navy;
    border-radius: 10px;
}

.c1{
    display: flex;
    align-items: center;
    background-color: lightgreen;
    padding: 15px;
    height: 200px;
    width: 350px;
    border-radius: 8px;
}
.texto{
    align-items: left;
    font-style:"Cascadia code";
    margin 10px;
}

.pass{
    align-items: center;
    padding: 5px 0 5px;
    margin: 10px 0 10px 10px;
}
.env{
    align-items: center;
}
.c2{
    display: flex;
    align-items: center;
    background-color: lightgreen;
    padding: 15px;
    height: 100px;
    width: 300px;
    border-radius: 8px;
    margin :10px 10px 10px 0px;
}
.c3{
    display: flex;
    align-items: center;
    background-color: lightgreen;
    height: 100px;
    padding: 50px;
    width: 280px;
 
    margin :auto;
    border: 3px solid navy;
    text-align: center;
    border-with: 5px;
    justtify-content: center;
}
.c4 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: lightgreen;
    height: 100px;
    padding: 50px;
    width: 280px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 0;
    border: 3px solid navy;
    text-align: center;
}

.c5 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: lightgreen;
    height: 100px;
    padding: 50px;
    width: 280px;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    border: 3px solid navy;
    border-radius: 25px 0 25px 0;
}
.p1{
text-align: center;
  justify-content: center;
}

.borde{
    border: 10px solid navy;
    border-radius: 10px;
}
.id{
}



