/* eeeeee */ 

.box1 {
    width: 200px;
    height: 200px;
    margin: auto;
    background: #f3a;
    border-radius: 20px 10px 20px 10px;
    border-left: 2px #100 solid;
    padding: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnf4PQtp9OTwg0g9YosqN7DYmvCxOebcJD7g&s");
}
