

.fondo{
    background-color: rgba(54, 238, 230, 0.8);
    alin-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid navy;
    border-radius: 20px 5px 20px 5px;
    margin: 10px;
    padding: 10px;
    font-style:"Cascadia code""Kristen ITC";


}

.caja0{
  border-left: 5px solid #999;
  padding: 10px;
  heigt: 50px;
  width: 99%;
  background-color: rgba(54, 238, 230, 0.8);
  font-size: 20px;

}
.caja1{
  border: 5px solid #999;
  padding: 2cm;
  heigt: 3cm;
  width: 5cm;
  background-color: trasparent;
  margin-bottom: 10px;
}
.caja2{
  border: 5px solid #111;
  padding: 2cm;
  heigt: 3cm;
  width: 10cm;
  background-color:trasparent;
  font-size: 0.75em;
  margin-bottom: 10px;
}

.caja3{
  border: 5px solid #559;
  padding: 2cm;
  heigt: 4vh;
  width: 100vh;
  background-color: trasparent;
  font-size: 0.8em;
  margin-bottom: 10px;
}
